* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
    border: 2px solid plum;
    background-color: greenyellow;
    width: 600px;
    height: 200px;
}

h2, p {
    margin: 0 auto;
    padding-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
}

#userInput {
    width: 100%;
    height: 23px;
}
